___

<a href='https://www.udemy.com/user/joseportilla/'><img src='../Pierian_Data_Logo.png'/></a>
___
<center><em>Content Copyright by Pierian Data</em></center>

# Function Practice Exercises

Problems are arranged in increasing difficulty:
* Warmup - these can be solved using basic comparisons and methods
* Level 1 - these may involve if/then conditional statements and simple methods
* Level 2 - these may require iterating over sequences, usually with some kind of loop
* Challenging - these will take some creativity to solve

## WARMUP SECTION:

#### LESSER OF TWO EVENS: Write a function that returns the lesser of two given numbers *if* both numbers are even, but returns the greater if one or both numbers are odd
    lesser_of_two_evens(2,4) --> 2
    lesser_of_two_evens(2,5) --> 5

In [104]:
def lesser_of_two_evens(a,b):
	if a % 2 == 0 and b % 2 == 0:
		return min(a,b)
		# if a < b:
		# 	return a
		# else:
		# 	return b
	else:
		return max(a,b)
		# if a > b:
		# 	return a
		# else:
		# 	return b

In [105]:
# Check
lesser_of_two_evens(2,4)

2

In [106]:
# Check
lesser_of_two_evens(2,5)

5

#### ANIMAL CRACKERS: Write a function takes a two-word string and returns True if both words begin with same letter
    animal_crackers('Levelheaded Llama') --> True
    animal_crackers('Crazy Kangaroo') --> False

In [107]:
def animal_crackers(text):
	word_list = text.split()
	return word_list[0][0] == word_list[1][0]
	# letter1 = word_list[0][0]
	# letter2 = word_list[1][0]
	
	# return letter1 == letter2
	# if letter1 == letter2:
	# 	return True
	# else:
	# 	return False

In [108]:
# Check
animal_crackers('Levelheaded Llama')

True

In [109]:
# Check
animal_crackers('Crazy Kangaroo')

False

#### MAKES TWENTY: Given two integers, return True if the sum of the integers is 20 *or* if one of the integers is 20. If not, return False

    makes_twenty(20,10) --> True
    makes_twenty(12,8) --> True
    makes_twenty(2,3) --> False

In [114]:
def makes_twenty(n1,n2):
	return n1 == 20 or n2 == 20 or n1 + n2 == 20
	# 	return True
	# # elif n1 + n2 == 20:
	# # 	return True
	# else:
	# 	return False

In [115]:
# Check
makes_twenty(20,10)

True

In [117]:
# Check
makes_twenty(7,3)

False

# LEVEL 1 PROBLEMS

#### OLD MACDONALD: Write a function that capitalizes the first and fourth letters of a name
     
    old_macdonald('macdonald') --> MacDonald
    
Note: `'macdonald'.capitalize()` returns `'Macdonald'`

In [122]:
def old_macdonald(name):
	# string_list = []
	
	# for letter in name:
	# 	string_list.append(letter)
	
	# string_list[0] = string_list[0].upper()
	# string_list[3] = string_list[3].upper()

	# new_name = ''.join(string_list)
	# return new_name

	# string1 = name[0:3]
	# string2 = name[4:]
	return name[:3].capitalize() + name[3:].capitalize()

In [123]:
# Check
old_macdonald('macdonald')

'MacDonald'

#### MASTER YODA: Given a sentence, return a sentence with the words reversed

    master_yoda('I am home') --> 'home am I'
    master_yoda('We are ready') --> 'ready are We'
    
Note: The .join() method may be useful here. The .join() method allows you to join together strings in a list with some connector string. For example, some uses of the .join() method:

    >>> "--".join(['a','b','c'])
    >>> 'a--b--c'

This means if you had a list of words you wanted to turn back into a sentence, you could just join them with a single space string:

    >>> " ".join(['Hello','world'])
    >>> "Hello world"

In [143]:
def master_yoda(text):
	# words = text.split()
	# reversed_words = []
	
	# for word in words:
	# 	reversed_words.insert(0, word)
	
	# return ' '.join(reversed_words)

	reversed_words = text.split()
	reversed_words.reverse()
	
	return ' '.join(reversed_words)

In [144]:
# Check
master_yoda('I am home')

'home am I'

In [145]:
# Check
master_yoda('We are ready')

'ready are We'

#### ALMOST THERE: Given an integer n, return True if n is within 10 of either 100 or 200

    almost_there(90) --> True
    almost_there(104) --> True
    almost_there(150) --> False
    almost_there(209) --> True
    
NOTE: `abs(num)` returns the absolute value of a number

In [146]:
def almost_there(n):
	# if (90 <= n and n <= 110) or (190 <= n and n <= 210):
	# 	return True
	# else:
	# 	return False
	return (90 <= n and n <= 110) or (190 <= n and n <= 210)

In [147]:
# Check
almost_there(104)

True

In [148]:
# Check
almost_there(150)

False

In [149]:
# Check
almost_there(209)

True

# LEVEL 2 PROBLEMS

#### FIND 33: 

Given a list of ints, return True if the array contains a 3 next to a 3 somewhere.

    has_33([1, 3, 3]) → True
    has_33([1, 3, 1, 3]) → False
    has_33([3, 1, 3]) → False

In [150]:
def has_33(nums):
	# prev_num = 0
	# for num in nums:
	# 	if prev_num == 3 and num == 3:
	# 		return True
		
	# 	prev_num = num

	# return False

	for i in range(0, len(nums)-1):
		if nums[i] == 3 and nums[i + 1] == 3:
			return True

	return False

In [151]:
# Check
has_33([1, 3, 3])

True

In [152]:
# Check
has_33([1, 3, 1, 3])

False

In [153]:
# Check
has_33([3, 1, 3])

False

#### PAPER DOLL: Given a string, return a string where for every character in the original there are three characters
    paper_doll('Hello') --> 'HHHeeellllllooo'
    paper_doll('Mississippi') --> 'MMMiiissssssiiippppppiii'

In [154]:
def paper_doll(text):
	new_string = ''
	for letter in text:
		new_string += letter * 3
	
	return new_string

In [155]:
# Check
paper_doll('Hello')

'HHHeeellllllooo'

In [156]:
# Check
paper_doll('Mississippi')

'MMMiiissssssiiissssssiiippppppiii'

#### BLACKJACK: Given three integers between 1 and 11, if their sum is less than or equal to 21, return their sum. If their sum exceeds 21 *and* there's an eleven, reduce the total sum by 10. Finally, if the sum (even after adjustment) exceeds 21, return 'BUST'
    blackjack(5,6,7) --> 18
    blackjack(9,9,9) --> 'BUST'
    blackjack(9,9,11) --> 19

In [160]:
def blackjack(a,b,c):
	# # Add sum
	# total = sum([a,b,c])
	# # if over 21 check for 11 and re calc sum
	# if total > 21:
	# 	if a == 11 or b == 11 or c == 11:
	# 		total -= 10
	# # if sum still over 21 return bust
	# if total > 21:
	# 	return 'BUST'
	# # else return sum
	# else:
	# 	return total

	if sum([a,b,c]) < 21:
		return sum([a,b,c])
	elif 11 in [a,b,c] and sum([a,b,c]) <= 31:
		return sum([a,b,c])-10
	else: 
		return "BUST"

In [161]:
# Check
blackjack(5,6,7)

18

In [162]:
# Check
blackjack(9,9,9)

'BUST'

In [163]:
# Check
blackjack(9,9,11)

19

#### SUMMER OF '69: Return the sum of the numbers in the array, except ignore sections of numbers starting with a 6 and extending to the next 9 (every 6 will be followed by at least one 9). Return 0 for no numbers.
 
    summer_69([1, 3, 5]) --> 9
    summer_69([4, 5, 6, 7, 8, 9]) --> 9
    summer_69([2, 1, 6, 9, 11]) --> 14

In [64]:
def summer_69(arr):
	skip = False
	total = 0
	# iterate through
	for num in arr:  
		# set trigger if 6 is found to skip
		if num == 6:
			skip = True

		# add number to running total if skip is false
		if not skip:
			total += num

		# reset trigger once 9 is hit
		if num == 9:
			skip = False
	
	return total

In [65]:
# Check
summer_69([1, 3, 5])

9

In [66]:
# Check
summer_69([4, 5, 6, 7, 8, 9])

9

In [67]:
# Check
summer_69([2, 1, 6, 9, 11])

14

# CHALLENGING PROBLEMS

#### SPY GAME: Write a function that takes in a list of integers and returns True if it contains 007 in order

     spy_game([1,2,4,0,0,7,5]) --> True
     spy_game([1,0,2,4,0,5,7]) --> True
     spy_game([1,7,2,0,4,5,0]) --> False

In [175]:
def spy_game(nums):
	# temp_list = []
	# # iterate through nums
	# for num in nums:
	# 	if num == 0 or num == 7:
	# 		temp_list.append(num)
	# # check for fist 0
	# # check for second 0
	# # check for 7
	# # check resulting temp list
	# if temp_list == [0, 0, 7]:
	# 	return True
	# else:
	# 	return False

	code = [0,0,7,'x']
	for num in nums:
		if num == code[0]:
			code.pop(0)
	return len(code) == 1

In [176]:
# Check
spy_game([1,2,4,0,0,7,5])

True

In [177]:
# Check
spy_game([1,0,2,4,0,5,7])

True

In [178]:
# Check
spy_game([1,7,2,0,4,5,0])

False

#### COUNT PRIMES: Write a function that returns the *number* of prime numbers that exist up to and including a given number
    count_primes(100) --> 25

By convention, 0 and 1 are not prime.

In [188]:
def count_primes(num):
	# primes = 0
	# index = 0
	# # prime_list = []
	# while index < num:
	# 	# filter out 0, 1 edge case
	# 	prime = True
	# 	if index > 1:
	# 		for i in range(2, index):
	# 			if index % i == 0:
	# 				prime = False
	# 				# continue

	# 		if prime:
	# 			# prime_list.append(index)
	# 			primes += 1

	# 	index += 1

	# # print(prime_list)
	# return primes 
	
	# check for 0 or 1
	if num < 2:
		return 0

	primes = [2]
	# check everything 2 or above 
	x = 3 
	while x <= num:
		# check if x is prime
		for y in primes:
			if x%y == 0:
				x += 2
				break
		else:
			primes.append(x)
			x += 2

		return len(primes)

In [189]:
# Check
count_primes(100)

2

### Just for fun:
#### PRINT BIG: Write a function that takes in a single letter, and returns a 5x5 representation of that letter
    print_big('a')
    
    out:   *  
          * *
         *****
         *   *
         *   *
HINT: Consider making a dictionary of possible patterns, and mapping the alphabet to specific 5-line combinations of patterns. <br>For purposes of this exercise, it's ok if your dictionary stops at "E".

In [101]:
def print_big(letter):
	letters = {
		'a': [
			'  *  ',
			' * * ',
			'*****',
			'*   *',
			'*   *'
			],
		'b': [
			'**** ',
			'*   *',
			'**** ',
			'*   *',
			'**** '
			],
		'c': [
			'  ***',
			'**   ',
			'*    ',
			'**   ',
			'  ***'
			],
			'd': [
			'**** ',
			'*   *',
			'*   *',
			'*   *',
			'**** '
			],
			'e': [
			'*****',
			'*    ',
			'**** ',
			'*    ',
			'*****'
			],
	}

	for row in letters[letter]:
		print(row)
	# print(letters[letter])

In [103]:
print_big('e')

*****
*
****
*
*****

## Great Job!